* text=auto !eol
/Makefile -text
/apertium-no-en.nb.dix -text
/apertium-no-en.no-en.dix -text
/apertium-no-en.no-en.lex -text
/apertium-no-en.no-en.t1x -text
/apertium-no-en.no-en.t2x -text
/apertium-no-en.no-en.t3x -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/generation-report.txt -text
dev/generation-test.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-bidix-freq.sh -text
dev/testvoc.sh -text
/lexchoicebil.xsl -text
/modes.xml -text
/no-en.prob -text
/pending-tests.sh -text
/regression-tests.sh -text
/wiki-tests.sh -text
