/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/eng-nno.autobil.bin
/eng-nno.autogen.bin
/eng-nno.automorf.bin
/eng-nob.autobil.bin
/eng-nob.autogen.bin
/eng-nob.automorf.bin
/eng-nor.autolex.bin
/eng-nor.automorf.bin
/eng-nor.prob
/eng-nor.rlx.bin
/eng-nor.t1x.bin
/eng-nor.t2x.bin
/eng-nor.t3x.bin
/install-sh
/missing
/modes
/nno-eng.automorf.bin
/nno-eng.prob
/nno-eng.rlx.bin
/nob-eng.automorf.bin
/nob-eng.prob
/nob-eng.rlx.bin
/nor-eng.autobil.bin
/nor-eng.autogen.bin
/nor-eng.autolex.bin
/nor-eng.autopgen.bin
/nor-eng.lex.bin
/nor-eng.mode
/nor-eng.t1x.bin
/nor-eng.t2x.bin
/nor-eng.t3x.bin
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/config.in
/config
/test/*-output.txt
