/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/nb-en.automorf.bin
/nb-en.rlx.bin
/no-en.autobil.bin
/no-en.autogen.bin
/no-en.autopgen.bin
/no-en.lex.bin
/no-en.mode
/no-en.t1x.bin
/no-en.t2x.bin
/no-en.t3x.bin
